<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="online.helloweb.pojo"/>
    </typeAliases>
    <mappers>
        <mapper resource="online/helloweb/dao/BookMapper.xml"/>
        <mapper resource="online/helloweb/dao/UserMapper.xml"/>
    </mappers>
</configuration>